<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Chatroom{% endblock %}</title>
</head>
<body>
  <main>
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}

    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <p> {{ error }} </p>
        {% endfor %}
      {% endfor %}
    {% endif %}

    {% if user.is_authenticated %}
      Hi {{ user.email }}!
        <form action="{% url 'accounts:logout' %}" method="post">
          {% csrf_token %}
          <button type="submit">Log out</button>
        </form>
      | <a href="{% url 'accounts:profile' %}">Profile</a>
      {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'accounts:login' %}?next={{ request.path }}">Login</a> |
        <a href="{% url 'accounts:signup' %}">Sign Up</a>
    {% endif %}

    | <a href="{% url 'home:index' %}">Home Page</a>

    {% block content %}
    {% endblock %}
  </main>
</body>
</html>